:root {
    --color-light: #0080FF;
    --color-dark:  #0073E5;
    --color-primary: #F7CB18;
}
*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--color-primary);

}


body {
    width: 100%;
    min-height: 100vh;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    color: #F9C23C;
    margin-right: 1rem;
    font-size: 1.5rem;
}


.app {
    min-width: 700px;
    min-height: 450px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.username {
    font-size: 1.5rem;
    color: #F7CB18;
    font-weight: 700;
}
.mode {
    background-color: #333 !important;
    color: #fff !important;
}

.taskheading {
    margin-left: 3.8rem;
    margin-bottom: .6rem;
    color:#F9C23C;
    align-self: start;
}




.post-form {
    width: 100%;
    height: 20rem;
    position: absolute;
    bottom: -100%;
    left: 0;
    padding: 20px 10px 30px;
    transition: all .2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.post-form.active {
    bottom: 0;
    z-index: 3;
  }

.post-form-backdrop {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 135%;
    height: 20rem;
    border-radius: 50% 50% 0 0;
    background-color: #f9f9f9;
}


.form-back {
    width: 100%;
    height: 100%;
    background-color: #00000023;
    backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .2s;
}

.form-back.active {
    opacity: 1;
    visibility: visible;
    z-index: 2;
}

.post-form-backdrop h1 {
    color:#0080FF;
    position: relative;
    top: 10%;
    left: 17%;
}



.category-input {
    display: inline-block;
    padding: .7rem .4rem;
    background-color: transparent;
    box-shadow: 0px 0px 1px 1px #F7CB18;
    color:#0080FF;
    margin-top: .2rem;
    margin-bottom: -1rem;
    border: none;
    border-radius: 100px;
    outline: none;
    position: absolute;
    top: 30%;
    right: 1rem;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
}

#body {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}




#posts {
    width: 90%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    margin-bottom: 3rem;
}


#title {
    width: 100%;
    display: inline-block;
    padding: 1rem 1.5rem;
    margin-bottom: .5rem;
    font-size: 1rem;
    border: none;
    border-bottom: 2px solid #F7CB18;
    background-color: transparent;
    color: inherit;
    position: relative;
}


#title:focus {
    outline: none;
    border-bottom:  2px solid #45A049;
}


#title:focus:invalid {
    border-bottom: 2px solid orangered; 
}

#title:not(:placeholder-shown) + .title-label + .category-input {
    opacity: 1;
    visibility: visible;
}

#title::placeholder {
    color: #ccc;
}

.title-label {
    font-size: .7rem;
    margin-top: 0.5rem;
    color: inherit;
    display: inline-block;
    padding-left: 2rem;
    padding-bottom:  0.8rem;
    transition: all 0.5s;
    position: absolute;
    top: 10rem;
    left: .2rem;   
  } 
  #title:placeholder-shown + .title-label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-3rem);
  }

  .add-post {
    display: inline-block;
    padding: .5rem;
    height: 2.5rem;
    width: 5rem;
    border-radius: 10px;
    border: none;
    background-color: #0080FF;
    position: relative;
    align-self: end;
    cursor: pointer;
    color: #fff;
 }
 .homeBtn {
    position: absolute;
    bottom: 1rem;
    right: 1.5rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    outline: none;
    background-color: #0080FF;
    border: none;
    color: #fff;
  
}

.homeBtn::before {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
    pointer-events: none;
}

.homeBtn:hover::before {
    opacity: 1;
    visibility: visible;
}

.homeBtn.active {
    z-index: 5;
    bottom: 20rem;
    transform: rotate(45deg);
}

.homeBtn.active::before
  {
    content: 'Close';
    position: absolute;
    left: -2rem;
    transform: rotate(-45deg);
}


.post {
    height: 3rem;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    box-shadow: 0px 1px 2px 2px #0073E5;
    border-radius: 100px;
    padding: 0px 10px;
    margin-bottom: 10px;
    transition: all 3s;
}

.moveOnDelete {
    transform: translateY(4rem);
}



.home-salutation {
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    font-weight: 500;
    margin-right: 0;
}
 .delete-btn {
    display: inline-block;
    padding: .4rem;
    font-size: 1.6rem;
    cursor: pointer;
    color: red;
 }

 .edit {
    display: none;
    width: 100%;
    color: black;
 }

 .icon {
    width: 1rem;
    
 }

 .icon-pencil {
    color: var(--color-light);
    position: relative;
    cursor: pointer;
    font-size: 1.2rem;
 }
 .icon-trash {
    color: red;
    position: relative;
    cursor: pointer;
    font-size: 1.2rem;
 }

 .icon-pencil::after,
 .icon-trash::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%; 
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s;
}

.icon-pencil:hover::after,
.icon-trash:hover::after
 {
    opacity: 1;
    visibility: visible;
}


.taskslength {
    color: #0080FF;
   }

.taskheading {
    width: 79%;
    display: flex;
    justify-content: space-between;
    color: var(--color-light);

}

.taskheading small {
    color:#F9C23C;
}

 .icon-pencil::after,
 .icon-trash::after
  {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%; 
    left: 50%;
    transform: translateX(-50%);
    background-color: #F7CB18;
    color: #0073E5;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s;
}

.task {
    
    color: inherit;
    background-color: inherit;
    text-align: left;
}

.task > div:first-child{
    margin-right: 1rem;
}

.tasks-remaining {
    width: 90%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 1rem;
}


.tasks-count {
    text-align: center;
}

#filter {
    display: inline-block;
    padding: .4rem 1rem;
    border-radius: 100px;
    background-color: #F7CB18;
    color: #0073E5;
    box-shadow: 0px 0px 3px #0080FF ;
}

.filter-label {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.filter-label > b {
    margin-right: .5rem;
}

.post li input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
}

.post-content {
    max-width: 80%;
    /* Adjust based on preference */
}

.post-title {
    flex: .8 1 0%;
    align-self: stretch;
    display: inline-block;
    padding: .5rem 1rem;
    padding-bottom: 0 ;
    margin-right: .5rem;
    font-size: 12px;
    margin-bottom: 0;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    background-color: inherit;
    color: inherit;
}

.post-title:focus {
    border-bottom: 2px solid  #0080FF;
}

.post-body {
    font-size: 16px;
    color: inherit;
    background-color: inherit;
}

.navbar {
    width: 90%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 1rem;
    background-color: inherit;
}

.indexBtn::before {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
    pointer-events: none;
}

.indexBtn:hover::before {
    opacity: 1;
    visibility: visible;
}


.indexBtn.active::before
  {
    content: 'Close';
    position: absolute;
    left: -2rem;
    transform: rotate(-45deg);
}
 


.slide-label {
    cursor: pointer;
    font-size: 1.7rem;
    color: #F9C23C;
    margin-left: 2rem;
}
.toggle-btn {
    display: inline-block;
    padding: .5rem 1rem;
    background-color: var(--color-dark);
    height: 100%;
    border-radius: 100px;
    position: relative;
    transition: all .3s;
    box-shadow: 0px 1px 4px 4px #333333 ;
    margin-right: .7rem;
}

.toggle-btn::before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    top: 0;
    left: 0;
    background-color: #f9f9f9;
    border-radius: 50%;
}

.toggle-btn::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    top: 0;
    right: 0;
    background-color: #f9f9f9;
    border-radius: 50%;
    display: none;
   
}

.slider {
    display: none;
}
 
.slider:checked + .toggle-btn{
    box-shadow: 1px 1px 1px 1px #ccc;
    
}

.slider:checked + .toggle-btn::before{
    display: none;
    
}
.slider:checked + .toggle-btn::after{
    display: block;
    
}

.completed {
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;;
    box-shadow: 0px 0px 2px 2px #F7CB18;
    position: relative;
    transition: all .3s;
    cursor: pointer;
}

.completed::before {
    content: '';
    position: absolute;
    display: inline-block;
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    background-color: #0080FF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .3s;
     opacity: 0;
}

.completed:checked::before {
    opacity: 1;
}

.done {
    text-decoration: line-through;
    color: #ccc;
    font-style: italic;
    letter-spacing: .2rem;
    font-size: .6rem;
}

 .empty {
      color: var(--color-light);
      transition: all .5s;
}
@keyframes zerotasks {
    0% {
        transform: scale(.5);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.footer-section {
    min-width: 80%;
    height: 4rem;
    background-color: #eee;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: inherit;
}

@media (max-width: 960px) {

    body {
        font-size: 62.5%;   
        display: unset;
        margin: 3rem auto;
    }
    #app {
        min-width: 600px;
    
    }
}
@media (max-width: 600px) {

    body {
        font-size: 62.5%;   
        display: unset;
        margin: 3rem auto;
    }
    #app {
        min-width: 300px;
    
    }
 
    .navbar {
        width: 100%;
        margin: .5rem auto;
    }

   

    .weather-info > * {
        font-size: .9rem;
    }
    .weather-icon {
        width: 3rem;
        height: 3rem;
        display: block;
   }
       
     h1 {
        margin-bottom: .4rem;
     }
    .post-form {
        width: 100%;
    
    }

    .category-input {
        text-align: center;
        top: 15%;
        right: 1rem;
        width: 50%;
        height: 3rem;
        color: #0073E5;
        font-size: .7rem;
    }


    #title {
        width: 90%;
        padding: .5rem;
    }

  

    #posts {
        width: 100%;
        padding: 1rem;
        padding-bottom: 0;
        margin-top: 0;
    }
    .post {
        width: 90%;
        margin: 1rem;
        padding: .5rem;
        width: 100%;
        font-size: 75%;
    }

    .post-title {
       font-size: 100%;
    }
    .post li {
        width: 100%;
    }

    .filter-label {
       justify-content: start;
       align-items: center;
    }

    .user-div  {
        flex-direction: column;
        align-items: start;
    }
  
    .user-div input {
        display: inline-block;
        padding-bottom: .4rem;
        width: 75%;
        margin-bottom: 1rem;
        font-size: inherit;
    }

   
   .weather-info {
    flex-direction: column;
   }
    
   .tasks-remaining  {
     justify-content:  start;
      align-items: center;
      margin-bottom: -1rem;
      padding: 0;
      visibility: hidden;
   }

   .taskheading {
    width: 95%;
   }

   .tasks-count {
    position: relative;
   }
   .tasks-count small {
      display: none;
   }

   .filter-label {
    position: relative;
   }

   .taskheading {
    margin-left: .2rem;
   }

   

    .filter-label b {
       position: absolute;
       top: -1.1rem;
       left: 40%;
   }


   .icon-pencil,
 .icon-trash {
    font-size: 1rem;
 }
  
}