:root {
    --color-light: #0080FF;
    --color-dark:  #0073E5;
    --color-primary: #F7CB18;
}
*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--color-primary);
}


body {
    background-color: inherit;
    width: 100%;
    height: 100vh;
    position: relative;
}


.app {
    max-width: 800px;
    margin: 7rem auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mode {
    background-color: #333 !important;
    color: #fff !important;
}

#post-form {
    width: 90%;
    position: relative;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-bottom: 2rem;
}

#add-post {
    position: absolute;
    top: .5rem;
    right: 1rem;
}

#body {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.weather {
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 1.7rem;
}

.city {
    font-size: 1rem;
     color: #0073E5;
     font-weight: 500;
}

.city-name {
    position: relative;
}

.country-flag {
    position: absolute;
    top: -.5rem;
    right: o;
    width: 30px;
    height: 20px;
}

.weather-info {
    margin-left: .5rem;
    display: flex;
    flex-direction: column;
}

.weather-icon {
     width: 4rem;
     height: 4rem;
     display: block;
}

.temp {
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    position: relative;
}

.temp::before {
    content: '℃';
    font-weight: 300;
    position: absolute;
    top: -.5rem;
    right: .5rem;
}



button {
    display: inline-block;
    text-align: center;
    width: 3rem;
    height: 3rem;
    margin-left: auto;
    background-color: var(--color-light);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: var(--color-dark);
}
#posts {
    width: 90%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    margin-bottom: 3rem;
}


#title {
    width: 96%;
    display: inline-block;
    padding: 1rem 1rem;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #F7CB18;
    background-color: inherit;
    color: inherit;

}


#title:focus {
    outline: none;
    border-bottom:  2px solid #45A049;
}


#title:focus:invalid {
    border-bottom: 2px solid orangered; 
}

.title-label {
    font-size: .7rem;
    margin-top: 0.5rem;
    color: inherit;
    display: inline-block;
    padding-bottom: 0.8rem;
    transition: all 0.5s;
  }
  #title:placeholder-shown + .title-label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-3rem);
  }

.post {
    height: 3rem;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    box-shadow: 0px 1px 2px 2px #0073E5;
    border-radius: 100px;
    padding: 0px 10px;
    margin-bottom: 10px;
    transition: all 3s;
}

.moveOnDelete {
    transform: translateY(4rem);
}

.user-div {
    display: flex;
    align-items: center;
}

.salutation {
  margin-right: .5rem;
  color:#0073E5;
  
}

.user-div input {
    display: inline-block;
    padding-bottom: .2rem;
    flex: 0;
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
}

 .delete-btn {
    display: inline-block;
    padding: .4rem;
    font-size: 1.6rem;
    cursor: pointer;
    color: red;
 }

 .edit {
    display: none;
    width: 100%;
    color: black;
 }

 .icon {
    width: 1rem;
    
 }

 .icon-pencil {
    color: var(--color-light);
    position: relative;
    cursor: pointer;
 }
 .icon-trash {
    color: red;
    position: relative;
    cursor: pointer;
 }

 .icon-pencil::after,
 .icon-trash::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%; 
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s;
}

.icon-pencil:hover::after,
.icon-trash:hover::after
 {
    opacity: 1;
    visibility: visible;
}






 .icon-pencil::after,
 .icon-trash::after
  {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%; 
    left: 50%;
    transform: translateX(-50%);
    background-color: #F7CB18;
    color: #0073E5;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s;
}

.task {
    
    color: inherit;
    background-color: inherit;
    text-align: left;
}

.task > div:first-child{
    margin-right: 1rem;
}

.tasks-remaining {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}


input[type="checkbox"].selectall {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 1.2rem;
    height: 1.2rem;
    border: 2px solid #F7CB18;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    position: relative;
    outline: none;
    cursor: pointer;
}

input[type="checkbox"].selectall:checked {
    background-color: #0080FF;
    border-color: #F7CB18;
}

input[type="checkbox"].selectall:checked::before {
    content: "";
    position: absolute;
    left: 5px;
    top: 1px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.tasks-count {
    text-align: center;
}

#filter {
    display: inline-block;
    padding: .4rem 1rem;
    border-radius: 100px;
    background-color: #F7CB18;
    color: #0073E5;
    box-shadow: 0px 0px 3px #0080FF ;
}

.filter-label {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.filter-label > b {
    margin-right: .5rem;
}

.post li input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
}

.post-content {
    max-width: 80%;
    /* Adjust based on preference */
}

.post-title {
    flex: .8 1 0%;
    align-self: stretch;
    display: inline-block;
    padding: .5rem 1rem;
    padding-bottom: 0 ;
    margin-right: .5rem;
    font-size: 12px;
    margin-bottom: 0;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    background-color: inherit;
    color: inherit;
}

.post-title:focus {
    border-bottom: 2px solid  #0080FF;
}

.post-body {
    font-size: 16px;
    color: inherit;
    background-color: inherit;
}

.navbar {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: inherit;
}



.slide-label {
    flex: 1 0 0%;
    cursor: pointer;
    font-size: 1.7rem;
    color: #F9C23C;
    margin-left: 2rem;
}
.toggle-btn {
    display: inline-block;
    padding: .5rem 1rem;
    background-color: var(--color-dark);
    height: 100%;
    border-radius: 100px;
    position: relative;
    transition: all .3s;
    box-shadow: 0px 1px 4px 4px #333333 ;
    margin-right: .7rem;
}

.toggle-btn::before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    top: 0;
    left: 0;
    background-color: #f9f9f9;
    border-radius: 50%;
}

.toggle-btn::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    top: 0;
    right: 0;
    background-color: #f9f9f9;
    border-radius: 50%;
    display: none;
   
}

.slider {
    display: none;
}
 
.slider:checked + .toggle-btn{
    box-shadow: 1px 1px 1px 1px #ccc;
    
}

.slider:checked + .toggle-btn::before{
    display: none;
    
}
.slider:checked + .toggle-btn::after{
    display: block;
    
}

.completed {
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;;
    box-shadow: 0px 0px 2px 2px #F7CB18;
    position: relative;
    transition: all .3s;
    cursor: pointer;
}

.completed::before {
    content: '';
    position: absolute;
    display: inline-block;
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    background-color: #0080FF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .3s;
     opacity: 0;
}

.completed:checked::before {
    opacity: 1;
}

.done {
    text-decoration: line-through;
    color: #ccc;
    font-style: italic;
    letter-spacing: .2rem;
}

 .empty {
      color: var(--color-light);
      transition: all .5s;
}
@keyframes zerotasks {
    0% {
        transform: scale(.5);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.footer-section {
    min-width: 80%;
    height: 4rem;
    background-color: #eee;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: inherit;
}

@media (max-width: 600px) {

    body {
        font-size: 62.5%;
    }
    #app {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        max-width: 400px;
        font-size: inherit;
    }
 
    .navbar{
        align-items: center;
        position: relative;
        width: 100%;
        margin: .5rem auto;
    }

    .slide-label {
        position: absolute;
        top: -1rem;
        right: 0;
    }

       
     h1 {
        margin-bottom: .4rem;
     }
    #post-form {
        width: 90%;
        padding: 0;
    }

    #title {
        width: 100%;
        padding: .5rem;
    }

    #posts {
        width: 90%;
        padding: 1rem;
    }
    .post {
        width: 90%;
        margin: 1rem;
        padding: .5rem;
        width: 100%;
        font-size: inherit;
    }

    .post-title {
       font-size: 100%;
    }
    .post li {
        width: 100%;
    }

    .filter-label {
       justify-content: start;
       align-items: center;
    }

    .user-div  {
        flex-direction: column;
        align-items: start;
    }
    .salutation {
    }

    .user-div input {
        display: inline-block;
        padding-bottom: .4rem;
        width: 75%;
        margin-bottom: 1rem;
        font-size: inherit;
    }

   .weather-info {
    flex-direction: column;
   }
    
   .tasks-remaining  {
      align-items: center;
   }

   .tasks-count {
    position: relative;
   }
   .tasks-count small {
      display: none;
   }

   .filter-label {
    position: relative;
   }

    .filter-label b {
       position: absolute;
       top: -1.1rem;
       left: 40%;
   }
   #add-post {
     top:  -.5rem;
     right: -.7rem;
   }
  
}